@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;700&display=swap");

.contact-container {
  text-align: center;
  padding: 50px 20px;
  background-color: #f0f0f0;
}

.contact-container h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(0, 128, 128);
}

.contact-container p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  max-width: 600px;
  margin: 0 auto 20px auto;
  line-height: 1.6;
  color: #34495e;
}

.contact-details {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
}
