/* Hero Section */
.header {
  position: relative;
  overflow: hidden; /* Ensures the hero section doesn't overflow */
}

.hero {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height as necessary */
}

.hero-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: center; /* Keeps the image centered */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for text readability */
  padding: 2rem;
  border-radius: 10px;
  max-width: 90%;
  z-index: 1; /* Make sure the content stays on top of images */
}

/* Call to Action Buttons */
.cta-buttons-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.or-text {
  margin: 0;
  font-size: 1.2rem;
}

.cta-button {
  padding: 10px 20px;
  background-color: rgb(205, 123, 158);
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cta-button:hover {
  background-color: rgb(0, 128, 128);
}
