body {
  font-family: "Poppins", sans-serif;
}

.homepage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/*Hero Section */
.hero {
  text-align: center;
  padding: 4rem 1rem 1.5rem;
  background-color: #ffffff; /* Optional: Make sure the background is clean */
}

.hero-logo {
  width: 200px;
  border-radius: 50%;
}

.hero p {
  max-width: 600px;
  margin: 1rem auto 2rem;
  line-height: 1.6;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  color: #333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.features {
  display: flex;
  justify-content: space-around;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.feature-card:hover {
  transform: translateY(-5px);
}

.feature-card {
  background-color: #f0f0f0;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.features-section {
  padding: 3rem 1rem;
}

.feature-card h3 {
  font-size: 1.5rem;
  color: #006283;
  margin-bottom: 0.5rem;
}

.feature-card p {
  margin: 0.5rem 0 0;
  line-height: 1.5;
}

.view-all-services {
  text-align: center;
}

.view-all-services .cta-button {
  background-color: #006283;
  color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: bold;
}

h1,
h3 {
  font-weight: 600;
}
p {
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }

  .feature-card {
    width: 90%;
  }

  .view-all-services .cta-button {
    display: inline-block;
    font-size: 1rem;
    margin-top: 1rem;
  }
}
