.review-form {
  width: 150%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Lavel Styling */
.review-form label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

/*Input and Textarea Styling  */
.review-form input,
.review-form select,
.review-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
}

/* Adjust the size of the textarea */
.review-form textarea {
  resize: vertical;
}

/*Button Styling */
.review-form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*Button Hover Effect */
.review-form button:hover {
  background-color: #218838;
}

/* Input Focus Styles */
.review-form form input:focus,
.review-form select:focus,
.review-form textarea:focus {
  border-color: #28a745;
  outline: none;
}

/*Adding some margin between form fields */
.review-form input,
.review-form select,
.review-form textarea {
  margin-bottom: 20px;
}
