.social-links {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.social-links a {
  text-decoration: none;
  color: rgb(0, 128, 128);
  font-weight: bold;
  font-size: 2rem;
}

.social-links a:hover {
  text-decoration: underline;
  color: #b497bd;
}
