/* General Navbar Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5e6e8; /* Light Mauve */
  color: #1e3a3a; /* Dark Teal */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}
