* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

/* Hamburger Menu Styles */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger .bar {
  background-color: white;
  height: 3px;
  width: 100%;
  border-radius: 5px;
}

.nav-links {
  display: flex;
  gap: 1rem;
  transition: transform 0.3s ease-in-out;
}

.nav-links.open {
  display: block;
}

/* Header section styling */
.header {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* Header image styling*/

.hero {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

/* Content overlay for the hero section */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

/* SocialMediaLinks.css */
.social-links {
  margin-top: 2rem;
}

.social-icon {
  margin: 0 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(0, 128, 128);
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: rgb(205, 123, 158); /* Hover color */
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column; /* Stack items vertically on smaller screens */
    gap: 1rem;
    padding: 1rem;
  }

  .nav ul {
    flex-direction: column; /* Stack the links vertically */
    display: none;
    width: 100%;
  }

  .nav ul.open {
    display: block;
  }

  .hamburger {
    display: flex;
  }

  .nav a {
    padding: 1rem; /* More padding for better touch targets */
    text-align: center;
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.5 rem 1.5rem;
  }
}
